################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/netcore/Accountash.Backend/.vs/Accountash.Backend
/netcore/Accountash.Backend/Accountash.Application/obj
/netcore/Accountash.Backend/Accountash.Domain/obj
/netcore/Accountash.Backend/Accountash.Infrastructure/obj
/netcore/Accountash.Backend/Accountash.Persistance/obj
/netcore/Accountash.Backend/Accountash.Presentation/obj
/netcore/Accountash.Backend/Accountash.WebApi/obj
/netcore/Accountash.Backend/Accountash.WebApi/bin/Debug/net7.0
/netcore/Accountash.Backend/Accountash.Presentation/bin/Debug/net7.0
